<!doctype html>
<html lang="en">
<head>
    {include file='public/head' /}
</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="./index.html">土豆日程管理</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="{:url('index/logout')}">退出</a></dd>
            </dl>
        </li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>领导管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('leaders/leaderlist')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>领导列表</cite>

                        </a>
                    </li >

                </ul>
		<ul class="sub-menu">
                    <li>
                        <a _href="{:url('leaders/agender')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>所有领导日程</cite>

                        </a>
                    </li >

                </ul>

                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('leaders/aca_agender')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>院领导日程</cite>

                        </a>
                    </li >

                </ul>
		 <ul class="sub-menu">
                    <li>
                        <a _href="{:url('leaders/major_agender')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>系负责人日程</cite>

                        </a>
                    </li >

                </ul>
		 <ul class="sub-menu">
                    <li>
                        <a _href="{:url('leaders/dep_agender')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>部门负责人日程</cite>

                        </a>
                    </li >

                </ul>


            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>办公人员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('offices/officelist')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>办公人员列表</cite>
                        </a>
                    </li >
                </ul>
            </li>

        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src="{:url('home/welcome')}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©土豆日程-admin v0.1 All Rights Reserved</div>
</div>
<!-- 底部结束 -->
</body>
</html>
