<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北大软微领导日程</title>
</head>
<body>
<p style="text-align:center;font-size:2rem;">长按扫描下方二维码进入</p>
<p style="text-align:center"><img src="__STATIC__/code_3.jpg" width="70%"></p>
<p style="text-align:center;font-size:2rem;"><b>北大教职工日程管理</b>小程序</p>
<a style="text-align:center;font-size:2rem;" align="center" href="https://ssl.goduoduo.wang">北大教职工日程管理后台页面</a>
<p style="text-align:center;font-size:2rem;"><b>注意：以上二维码含有个人信息，请勿分享</b></p>
</body>
</html>

